/*#region RegionName*/

div {
    width: 350px;
    height: 50px;
    background-color: aqua;
    padding-top: 10px;
    margin-top: 10px;
    border: 2px solid black;
}

.inline {
    display: inline;
    background-color: yellow;
}

.inline-block {
    display: inline-block;
    background-color: lightgreen;
}


/*#endregion */